{{- if .Values.postgres.enabled }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ .Release.Name }}-postgres
  labels:
    app: {{ .Release.Name }}-postgres
spec:
  serviceName: {{ .Release.Name }}-postgres
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Release.Name }}-postgres
  template:
    metadata:
      labels:
        app: {{ .Release.Name }}-postgres
    spec:
      containers:
          - name: postgres
            image: "{{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}"
            ports:
              - containerPort: {{ .Values.postgres.port }}
            env:
              - name: POSTGRES_USER
                valueFrom:
                  secretKeyRef:
                    name: {{ .Values.postgres.secretName }}
                    key: POSTGRES_USER
              - name: POSTGRES_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: {{ .Values.postgres.secretName }}
                    key: POSTGRES_PASSWORD
              - name: POSTGRES_DB
                valueFrom:
                  secretKeyRef:
                    name: {{ .Values.postgres.secretName }}
                    key: POSTGRES_DB
            volumeMounts:
              - name: postgres-data
                mountPath: /var/lib/postgresql/data
                subPath: pgdata
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: {{ .Values.postgres.storage.storageClassName }}
        resources:
          requests:
            storage: {{ .Values.postgres.storage.size }}
  {{- end }}
